In [1]:
import pandas as pd
df = pd.read_csv('data/spotify_2023_clean.csv', encoding='latin-1')
df.shape

(953, 16)

In [2]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 953 entries, 0 to 952
Data columns (total 16 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   track_name         953 non-null    object
 1   artist             953 non-null    object
 2   featuring_artists  366 non-null    object
 3   artist_count       953 non-null    int64
 4   streams            953 non-null    int64
 5   bpm                953 non-null    int64
 6   key                858 non-null    object
 7   mode               953 non-null    object
 8   danceability       953 non-null    int64
 9   valence            953 non-null    int64
 10  energy             953 non-null    int64
 11  acousticness       953 non-null    int64
 12  instrumentalness   953 non-null    int64
 13  liveness           953 non-null    int64
 14  speechiness        953 non-null    int64
 15  released_date      953 non-null    object
dtypes: int64(10), object(6)
memory usage: 119.3+ KB

In [3]:
df.head()

,track_name,artist,featuring_artists,artist_count,streams,bpm,key,mode,danceability,valence,energy,acousticness,instrumentalness,liveness,speechiness,released_date
0,Seven (feat. Latto) (Explicit Ver.),Latto,Jung Kook,2,141381703,125,B,Major,80,89,83,31,0,8,4,2023-07-14
1,LALA,Myke Towers,NaN,1,133716286,92,C#,Major,71,61,74,7,0,10,4,2023-03-23
2,vampire,Olivia Rodrigo,NaN,1,140003974,138,F,Major,51,32,53,17,0,31,6,2023-06-30
3,Cruel Summer,Taylor Swift,NaN,1,800840817,170,A,Major,55,58,72,11,0,11,15,2019-08-23
4,WHERE SHE GOES,Bad Bunny,NaN,1,303236322,144,A,Minor,65,23,80,14,63,11,6,2023-05-18

In [4]:
df.describe()

,artist_count,streams,bpm,danceability,valence,energy,acousticness,instrumentalness,liveness,speechiness
count,953.000000,9.530000e+02,953.000000,953.00000,953.000000,953.000000,953.000000,953.000000,953.000000,953.000000
mean,1.556139,5.146057e+08,122.540399,66.96957,51.431270,64.279119,27.057712,1.581322,18.213012,10.131165
std,0.893044,5.662535e+08,28.057802,14.63061,23.480632,16.550526,25.996077,8.409800,13.711223,9.912888
min,1.000000,1.159939e+07,65.000000,23.00000,4.000000,9.000000,0.000000,0.000000,3.000000,2.000000
25%,1.000000,1.431393e+08,100.000000,57.00000,32.000000,53.000000,6.000000,0.000000,10.000000,4.000000
50%,1.000000,2.908332e+08,121.000000,69.00000,51.000000,66.000000,18.000000,0.000000,12.000000,6.000000
75%,2.000000,6.738011e+08,140.000000,78.00000,70.000000,77.000000,43.000000,0.000000,24.000000,11.000000
max,8.000000,3.703895e+09,206.000000,96.00000,97.000000,97.000000,97.000000,91.000000,97.000000,64.000000