In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('data/clean_rates.csv', parse_dates=['Tarih'], index_col='Tarih')
df.head()

,Ömerli,Darlık,Elmalı,Terkos,Alibey,Büyükçekmece,Sazlıdere,Kazandere,Pabuçdere,Istrancalar
Tarih,,,,,,,,,,
2000-10-23,0.6526,0.7502,0.7898,0.7086,0.0,0.5214,0.5055,0.0575,0.0686,0.1110
2000-10-24,0.6597,0.7730,0.8172,0.7103,0.0,0.5214,0.5070,0.0575,0.0691,0.0772
2000-10-25,0.6633,0.7879,0.8267,0.7086,0.0,0.5197,0.5070,0.0575,0.0694,0.1056
2000-10-26,0.6626,0.7933,0.8281,0.7068,0.0,0.5179,0.5070,0.0575,0.0696,0.1142
2000-10-27,0.6605,0.7959,0.8281,0.7068,0.0,0.5161,0.5055,0.0575,0.0667,0.1140

<p style="background-image: linear-gradient(to right, #0D9276, #41b675)"> &nbsp </p>

#### 1. Show newest, median, oldest rows

In [3]:
df.iloc[[1, df.shape[0]//2, -1]]

,Ömerli,Darlık,Elmalı,Terkos,Alibey,Büyükçekmece,Sazlıdere,Kazandere,Pabuçdere,Istrancalar
Tarih,,,,,,,,,,
2000-10-24,0.6597,0.7730,0.8172,0.7103,0.0000,0.5214,0.5070,0.0575,0.0691,0.0772
2012-04-27,0.9890,0.9944,1.0000,0.9591,0.8767,0.9598,0.7767,0.9516,0.9541,0.9999
2023-10-31,0.3995,0.2975,0.1450,0.0851,0.1943,0.0386,0.0353,0.0712,0.0366,0.2280

<p style="background-image: linear-gradient(#0D9276, #FFFFFF 10%)"> &nbsp </p>

#### 2. Average - Minimum and Maximum dam occupancy level percentages

In [4]:
df.agg(['mean', 'min', 'max'])

,Ömerli,Darlık,Elmalı,Terkos,Alibey,Büyükçekmece,Sazlıdere,Kazandere,Pabuçdere,Istrancalar
mean,0.694923,0.676581,0.659562,0.708137,0.53848,0.615152,0.554043,0.626326,0.568846,0.625837
min,0.050700,0.054000,0.005100,0.085100,0.00000,0.016100,0.012100,0.005200,0.000000,0.054600
max,1.000000,1.000000,1.000000,1.000000,1.00000,1.000000,1.000000,1.000000,1.000000,0.999900

<p style="background-image: linear-gradient(to right, #0D9276, #41b675)"> &nbsp </p>

### Group by years

In [5]:
yearly_groups = df.groupby(by=df.index.year)

# for year, group in yearly_groups:
#     print(f'Year: {year}')
#     print(group)
#     print('\n---------\n')

<p style="background-image: linear-gradient(#0D9276, #FFFFFF 10%)"> &nbsp </p>

#### 3. See group sizes

In [6]:
pd.DataFrame(yearly_groups.size()).T

Tarih,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,...,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023
0,70,365,365,365,366,365,365,365,366,365,...,365,365,366,365,365,365,366,365,365,304

<p style="background-image: linear-gradient(#0D9276, #FFFFFF 10%)"> &nbsp </p>

#### 4. Select a group (2020)

In [7]:
yearly_groups.get_group(2020).head(3)

,Ömerli,Darlık,Elmalı,Terkos,Alibey,Büyükçekmece,Sazlıdere,Kazandere,Pabuçdere,Istrancalar
Tarih,,,,,,,,,,
2020-01-01,0.3831,0.4874,0.6773,0.4927,0.4350,0.3397,0.3307,0.0451,0.0300,0.2478
2020-01-02,0.3928,0.4951,0.6810,0.4927,0.4350,0.3397,0.3270,0.0433,0.0315,0.2489
2020-01-03,0.4094,0.5062,0.7004,0.4895,0.4678,0.3414,0.3277,0.0438,0.0307,0.2504

<p style="background-image: linear-gradient(#0D9276, #FFFFFF 10%)"> &nbsp </p>

#### 5. See a random group

In [8]:
all_groups = pd.Series(yearly_groups.groups.keys())
selected = all_groups.sample(1).values[0]
yearly_groups.get_group(selected).sample(3)

,Ömerli,Darlık,Elmalı,Terkos,Alibey,Büyükçekmece,Sazlıdere,Kazandere,Pabuçdere,Istrancalar
Tarih,,,,,,,,,,
2010-09-11,0.6554,0.6890,0.7692,0.7086,0.2655,0.6629,0.7624,0.9228,0.9259,0.8418
2010-06-16,0.9060,0.9784,0.9667,0.9111,0.7474,0.8956,0.9045,0.9516,0.9602,0.8049
2010-11-08,0.7421,0.7571,0.9542,0.7032,0.3565,0.6959,0.7609,0.8997,0.9031,0.9996

<p style="background-image: linear-gradient(#0D9276, #FFFFFF 10%)"> &nbsp </p>

#### 6. See a randomly selected 2 rows from each group

In [9]:
# yearly_groups.sample(2).head(6)
yearly_groups.apply(lambda x: x.sample(2)).head(6)

                  Ömerli  Darlık  Elmalı  Terkos  Alibey  Büyükçekmece  \
Tarih Tarih
2000  2000-11-12  0.6255  0.7874  0.8048  0.6506  0.0139        0.4930
      2000-11-01  0.6490  0.8012  0.8223  0.6873  0.0000        0.5072
2001  2001-08-01  0.5644  0.5543  0.7085  0.6093  0.2763        0.4007
      2001-02-06  0.7331  0.8310  0.9021  0.7515  0.5249        0.5822
2002  2002-12-01  0.6526  0.4679  0.4953  0.5957  0.7202        0.7622
      2002-10-22  0.6793  0.5370  0.4557  0.6179  0.7222        0.7547

                  Sazlıdere  Kazandere  Pabuçdere  Istrancalar
Tarih Tarih
2000  2000-11-12     0.4970     0.0952     0.0667       0.1895
      2000-11-01     0.5041     0.0594     0.0667       0.1446
2001  2001-08-01     0.5216     0.0862     0.4905       0.2778
      2001-02-06     0.6275     0.2576     0.3191       0.9229
2002  2002-12-01     0.8555     0.6889     0.6779       0.9966
      2002-10-22     0.8658     0.6278     0.4577       0.8972

<p style="background-image: linear-gradient(#0D9276, #FFFFFF 10%)"> &nbsp </p>

#### 7. Annual average dam occupancy level percentages for the last 5 years

In [10]:
yearly_groups.mean().iloc[-5:,1:]

,Darlık,Elmalı,Terkos,Alibey,Büyükçekmece,Sazlıdere,Kazandere,Pabuçdere,Istrancalar
Tarih,,,,,,,,,
2019,0.732964,0.828821,0.816915,0.697743,0.733553,0.564041,0.637551,0.532575,0.548206
2020,0.816609,0.597427,0.542680,0.333479,0.316313,0.264170,0.129464,0.068752,0.317007
2021,0.643307,0.692719,0.593887,0.411211,0.553007,0.300408,0.380580,0.270701,0.432499
2022,0.678729,0.690723,0.628715,0.472159,0.680273,0.512471,0.678685,0.589773,0.636697
2023,0.470164,0.312806,0.291160,0.191050,0.238646,0.259318,0.080168,0.063909,0.290377

<p style="background-image: linear-gradient(#0D9276, #FFFFFF 10%)"> &nbsp </p>

#### 8. Worst annual dam occupancy level percentages for the last 5 years

In [11]:
yearly_groups.min().iloc[-5:,1:]

,Darlık,Elmalı,Terkos,Alibey,Büyükçekmece,Sazlıdere,Kazandere,Pabuçdere,Istrancalar
Tarih,,,,,,,,,
2019,0.3765,0.6005,0.4862,0.3235,0.3380,0.3219,0.0240,0.0172,0.1447
2020,0.4749,0.2326,0.2184,0.1976,0.1607,0.0523,0.0332,0.0120,0.1458
2021,0.3246,0.2276,0.1992,0.1556,0.1742,0.0533,0.0400,0.0192,0.1957
2022,0.2941,0.3337,0.3912,0.1845,0.3649,0.2132,0.0472,0.0236,0.2063
2023,0.2706,0.1385,0.0851,0.1048,0.0365,0.0353,0.0253,0.0243,0.1368

<p style="background-image: linear-gradient(to right, #0D9276, #41b675)"> &nbsp </p>

#### 10. Annual average ocupancy rate for all Istanbul dams
**First we need capacities of each of them**

In [12]:
# Values are in cubic meters
cap_df = pd.read_csv('data/capacities.csv')
cap_df

,Ömerli,Darlık,Elmalı,Terkos,Alibey,Büyükçekmece,Sazlıdere,Kazandere,Pabuçdere,Istrancalar
0,235371000,107500000,9600000,162241000,34143000,148943000,88730000,17424000,58500000,6231000

**Calculate the overall occupancy from the ocupancy rate of each dam**

In [13]:
ist_df = yearly_groups.mean() * cap_df.values                   # Multiply rows with their capacities
# ist_df = df * cap_df.values
ist_df['Istanbul'] = ist_df.sum(axis=1)                         # Sum up all columns
ist_df['Istanbul'] = ist_df['Istanbul'] / cap_df.values.sum()   # Divide by total capacity
ist_df = ist_df[['Istanbul']]
ist_df.iloc[-10:].T

Tarih,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023
Istanbul,0.295918,0.800985,0.642626,0.718399,0.725068,0.704681,0.513018,0.578022,0.635609,0.361027